form {
    width: 460px;
    box-sizing: border-box;
    padding: 58px 80px 40px 80px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    border: 1px solid var(--border);
    border-radius: 10px;

    margin-top: 30px;
    margin-left: 66px;
}

#form-logo {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
}

#form-logo img {
    width: 39px;
    height: 29px;
}

form h3 {
    font-weight: 400;

    margin-bottom: 44px;
}

form label {
    margin-bottom: 4px;
}


.password-input {
    width: 100%;
    height: 40px;
    position: relative;

    border-radius: 10px;
}


/* Кнопка просмотра пароля */
.password-input img {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 20px;
    top: 10px;

    opacity: .5;
    cursor: pointer;
    transition: .15s all;
}

@media (hover: hover) {
    .password-input img:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    .password-input img {
        opacity: 1;
    }
}

form input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 12px;
    
    border: 1px solid var(--border);
    border-radius: 10px;

    margin-bottom: 30px;
}

form input[name="password"] {
    padding: 0 52px 0 12px;
    
    margin-bottom: 0;
}

form button[type="submit"] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    
    background: var(--border);
    border-radius: 10px;
    border: none;
    outline: none;       
    
    transition: .15s all;
    cursor: pointer;
    
    margin-bottom: 38px;
}

@media (hover: hover) {
    form button[type="submit"]:hover {
        background: #000000;
        color: #FFFFFF;
    }
}

form button[type="submit"]:disabled {
    background: #d1aedf;
    color: #313131;
    cursor: not-allowed;
}


#forgot-password {
    text-align: center;
    color: var(--p-gray);
    cursor: pointer;
}

@media (hover: hover) {
    #forgot-password:hover {
        text-decoration: underline;
    }
}

@media (hover: none) {
    #forgot-password {
        text-decoration: underline;
    }
}


/* Текст ошибки */
#login-error {
    color: #F40B0B;
    margin: 12px 0;
    visibility: hidden;
    word-wrap: break-word;
}

#login-error.show {
    visibility: visible;
}

.dev-error {
    overflow-wrap: break-word;
}