/* Обновление изменяющее список специалистов */
@media screen and (max-width: 1000px) {
    #container-managers .form-title {
        justify-content: space-between;
        gap: 12px;
    }

    .manager-container > p {
        font-size: 20px;
    }

    .manager-buttons {
        flex-direction: column;
    }

    .manager-buttons button {
        height: 40px;
        border-radius: 10px;
    }
}