/* Мобильная версия модальных окон */
@media screen and (max-width: 1000px) {
    .manager-modal__wrapper {
        align-items: flex-end;
        
    }

    /* Создаем прокрутку если модальное окно больше экрана */
    .manager-modal {
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        border-radius: 20px 20px 0 0;
    }

    .manager-modal__content {
        padding: 32px 16px 114px 16px;
    }

    .manager-input label {
        font-size: 20px;
    }

    .manager-modal__buttons {
        justify-content: center;
        margin: 24px 0 0 0;
    }

    .manager-modal__buttons button {
        width: 100%;
    }
}