/* Вынес повторяющиеся элементы в manager-modal.css */

#manager-diagnostics-wrapper .manager-modal__content {
    gap: 20px;
}

#manager-diagnostics-wrapper .manager-modal__content > p {
    font-size: 16px;
}

.manager-modal__diagnostics-container {
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    overflow-x: auto;
}

/* Фильтр или авто выбор */
.manager-modal__filters {
    margin-top: 8px;
}

/* Кнопка фильтра */
.manager-modal__filter {
    width: fit-content;
    height: 30px;
    border-radius: 100px;
    padding: 6px 20px;

    background-color: rgba(189, 146, 206, 0.2);
    color: #000000 !important;
    font-size: 14px;
    font-weight: 400;
}

@media (hover: hover) {
    .manager-modal__filter:hover {
        color: #ffffff !important;
        background-color: #bd92ce;
    }
}

@media (hover: none) {
    .manager-modal__filter:active {
        color: #ffffff !important;
        background-color: #bd92ce;
    }
}

#manager-diagnostics-wrapper .manager-input__checkbox-wrapper label {
    font-size: 16px;
}

#manager-diagnostics-wrapper .manager-modal__buttons {
    margin-top: 8px;
}