#clients-loading-count {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #00000055;
    font-size: 16px;
    display: none;
}


@media screen and (max-width: 1000px) {
    #clients-loading-count {
        top: 4px;
        right: 4px;
        font-size: 12px;
    }
}