/* Кнопка фильтра */
#filter-clients, #filter-archive {
    width: 25px;
    height: 25px;
    padding: 12px 16px;
    margin-left: calc(24px - 16px);

    opacity: .5;
    transition: .15s all;

    cursor: pointer;
}

@media (hover: hover) {
    #filter-clients:hover, #filter-archive:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    #filter-clients, #filter-archive {
        opacity: 1;
    }
}



/* Обвертка модального окна */
#filter-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d9d9d988;

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Выше навигации */
}

.filter {
    width: 342px;
    /* height: 340px; */

    background: #FFFFFF;
    border-radius: 10px;
}

.filter-title {
    padding: 24px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.filter-title .p1-strong {
    color: #000000;
}

#filter-reset {
    color: var(--border);
    cursor: pointer;
    opacity: .75;
    transition: .15s all;
}

@media (hover: hover) {
    #filter-reset:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    #filter-reset {
        opacity: 1;
    }
}

.filter-content {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 51px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filter-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.filter-input label {
    margin-left: 16px;
}

#filter-solo {
    margin-left: 0;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type="radio"]::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid var(--border);
    border-radius: 50%;
}

input[type="radio"]:checked::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
    box-sizing: border-box;
    background-color: var(--border);
    border: 1px solid var(--border);
    border-radius: 50%;
}

.filter-date__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter-input-date {
    width: 100%;
    height: 36px;
    position: relative;
}

.filter-input-date p {
    position: absolute;
    top: 7px;
    left: 16px;
    color: var(--p-gray);
}

#filter-date-from, #filter-date-to {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 7px 12px 7px 48px;

    border: 1px solid #BD92CE;
    border-radius: 5px;
}

#filter-submit {
    width: 100%;
    height: 36px;
}



/* Бургер навигации */
#nav-burger {
    display: none;
}


/* Открытие всех результатов */
#open-all-results {
    cursor: pointer;
    opacity: .75;
    transition: .15s all;

    margin-left: 8px;
}

@media (hover: hover) {
    #open-all-results:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    #open-all-results {
        opacity: 1;
    }
}


/* Фильтр по менеджерам */
#manager-list {
    width: 100%;
    height: 36px;
    border-radius: 5px;
}